body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cream);
  color: var(--gray);
  font-family: var(--primary-font);
  font-size: 14px;
  min-height: 100vh;
  padding: 15px;
}

.card {
  background-color: var(--white);
  border-radius: var(--b-radius);
  margin-top: 10px;
}

.card-graphic img {
  border-top-left-radius: var(--b-radius);
  border-top-right-radius: var(--b-radius);
}

.card-details {
  padding: 5px 25px;
}

.price-wrapper {
  display: flex;
  align-items: center;
}

.cart-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--green);
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cart-icon {
  margin-right: 10px;
}

/* Text Styling */
.lead {
  font-family: var(--secondary-font);
  font-size: 2.3em;
}

.p-category {
  font-size: 12.5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.p-name {
  color: black;
}

.p-details {
  line-height: 1.5;
}

.p-price {
  color: var(--green);
}

.list-price {
  text-decoration: line-through;
  margin-left: 15px;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 15px;
}

.footer a {
  color: var(--attr-color);
}

.footer a:hover {
  color: var(--attr-color);
  font-weight: bold;
}
